<div class="container">
  <h1 class="navbar-brand mb-0">DXF-TIIP Viewer Sample</h1>
  <div class="row">
    <div class="col-sm-12">
      <a href="https://scs-api-img.s3-ap-northeast-1.amazonaws.com/development/images/lot_attachments/attachments/000/000/001/original/sample.dxf">Sample DXF</a>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<%= dxf_tiip('a[href*=".dxf"]', '/font/honoka_antique_kaku_regular.json')  %>

