<!DOCTYPE html>
<html>
<head>
  <title>DxfTiipView</title>
  <%= stylesheet_link_tag    "dxf_tiip_view/application", media: "all" %>
  <%= javascript_include_tag "dxf_tiip_view/application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
